<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="style.css">
    {{!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    --}}
</head>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form method="POST" id="user-form" action="/signup">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="fisrt_name" name="first_name" required placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="tel" id="phone_number" name="phone_number" required placeholder="Phone Number">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required
                    placeholder="Confirm Password">
            </div>
            <div class="member">
                <p>Already a memeber? <a href="../../Abdalaziz/login.html">Login</a></p>
            </div>
            <div>

            <button type="submit" id="submit" class="create-user">Sign Up</button>
            </form>
            </div>
            {{#if message}}
            <h4 class="result-input">{{message}}</h4>
            {{/if}}
    </div>

    
    </div>
    <script src="main.js"></script>
</body>

</html>