body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #D7F0F4;
}
header {
    background-color: #74BBE9;
    color: #D7F0F4;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #1F5EA8;
    font-weight: bold;
}

.container{
    padding-top: 50px;
}

